{% extends "partials/layout.njk" %}
{% block title%} FORM {% endblock %}
{% block content %}
<h1>circle</h1>
<form method="POST">
    <p>
       <label>
        Radius <br>
        <input type="number" placeholder="Radius" name="radius">
       </label>
    </p>
        <p>
        <input type="submit" value="send">
    </p>
</form>
{%endblock%}